<div>
    <b> 视频 | Video Links </b>
    <br>

    <a href="https://www.youtube.com/channel/UCCMpGENpr93ENbfdinP3QeQ?sub_confirmation=1" target="_blank" rel="noopener">
        <img alt="" width="150" data-src="/images/sidebar_links/youtube_subscribe.png" class="size-full lazyloaded" src="/images/sidebar_links/youtube_subscribe.png">
        <noscript>
        <img class="size-full" src="/images/sidebar_links/youtube_subscribe.png" alt="" width="150"/>
        </noscript>
    </a>
    <a href="https://space.bilibili.com/440336692" target="_blank" rel="noopener">
        <img alt="" width="150" data-src="/images/sidebar_links/bilibili_logo.png" class="size-full lazyloaded" src="/images/sidebar_links/bilibili_logo.png">
        <noscript>
        <img class="size-full" src="/images/sidebar_links/bilibili_logo.png" alt="" width="150"/>
        </noscript>
    </a>

</div>