.home .banner {
  background: #e4ac52;
  background-image: url("/images/banner/banner_img.jpg");
  color: #fff
}
.home .site-header {
  background: #ffffff;
  color: rgb(0, 0, 0)
}

.home .banner .collection-head {
    color: rgb(255, 255, 255);
    background: 0 0;
    box-shadow: none;
    -webkit-box-shadow: none
}

.home .site-header {
    border-bottom: none
} 

.home .site-header h1 a {
    color: rgb(54, 24, 0)
}

.home .site-header .site-header-nav-item {
    color: rgba(0, 0, 0, 0.5)
}

.home .site-header .site-header-nav-item:hover {
    color: rgb(0, 0, 0)
}


@media (max-width:50em) {
  .home .collapsed .icon-bar {
    background-color: white;
  }

  .home .collection-head .collection-header {
    font-size: 1.25em;
  }
}
